# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# PyInstaller
*.manifest
*.exe
*.dmg
*.app

# Environment
.env
.env.*
*.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
